@model List<CurriculoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Listagem de Currículos</h2>
    <br />
    <a href="/curriculo/imprimir" class="btn btn-secondary" role="button">Imprimir Curriculo</a>
    <a href="/curriculo/create" class="btn btn-primary" role="button">Novo Curriculo</a>
    <br />
    <br />
    <br />
    <table class="table table-responsive">
        <tr>
            <th>Ações</th>
            <th>Currículo</th>
            <th>CPF</th>
            <th>Nome</th>
        </tr>

        @foreach (CurriculoViewModel curriculo in Model)
        {
            <tr>
                <td>
                    <a href="/curriculo/Edit?id=@curriculo.Curriculo_id" class="btn btn-info">Editar</a>
                    <a href="javascript:apagarAluno(@curriculo.Curriculo_id)" class="btn btn-danger">Apagar</a>
                </td>
                <td>@curriculo.Curriculo_id</td>
                <td>@curriculo.Cpf</td>
                <td>@curriculo.Nome</td>
            </tr>
        }
    </table>
</div>
<script>
    function apagarAluno(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'curriculo/Delete?id=' + id;
    }
</script>


